@model Skill_CodeFirstEntity.Models.Classes.Skill
@{
    ViewBag.Title = "NewSkill";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<form class="form-group"method="post">
    <div style="margin-bottom:20px">
        <label>Skill Description</label>
        @Html.TextBoxFor(x=>x.SkillDescription, new {@class="form-control"})
    </div>
    <div style="margin-bottom:20px">
        <label>Skill Value</label>
        @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-primary">Save Skill</button>
    </div>
</form>

